body{
    font-family: roboto;
    margin: 0;
    padding: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1F2937;

}

.nav{
    display: flex;
    justify-content: space-between; 
    padding: 0px 200px;
}

.logo{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-links{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap:16px;
}

.nav-links a{
    color: #E5E7EB;
}

.sec-1{
    background-color: #1F2937;
    height: 40vh;
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-1-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sec-1-container-1{
    font-weight: 900px;
    font-size: 48px;
    color: #F9FAF8;
}

.sec-1-container-2{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    padding:8px;
    width: 80px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 0.2cm;
    border: 1px solid rgb(39, 39, 43);
}

/*section-2*/

.sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 36px 200px;
    margin-top: 16px;
}

.sec-2-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 36px;
    margin-bottom: 56px;
}

.information{
    font-weight: 900px;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding-top: 0px;
}

.info img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 0.2cm;
}

.info{
    width: 200px;
}

.info div{
    margin-top: 8px;
}

.sec-3{
    background-color: #E5E7EB;
    font-size: 32px;
    font-style: light italic;
    color:#1F2937;
    padding: 56px 400px;
}

.sec-3-1{
    display :flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-3-2{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content:right;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}